/* General styles*/
*{
  margin:auto;
  box-sizing: border-box;
}
/*body*/
body{
  background-color: #C9C9C9;
  font-family: 'Noto Serif JP', serif;
  font-size: 16px;
}
/*header*/
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.border-header{
  border-bottom: 2px solid black;
  background: #e4e8ff;
}
.sx-nav{
  padding-top: 12px;
  float: left;
  text-align:center;
  margin-left: 60px;
  margin-top: 6px;
}
.dx-nav{
  padding-top: 12px;
  float:right;
  text-align:right;
  margin-right: 80px;
  margin-top: 6px;
  padding-bottom: 8px;
}
/*style*/
ul .inline li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
strong{
  font-size: 16px;
}
.color-list a{
  color:  #1c1c1c;
}
a{
  text-decoration:none;
}
.sx-nav .inline li:first-child a{
  border-right: 2px solid #1c1c1c;
  padding-right: 15px;
}
button{
  display: inline-block;
  text-decoration:none;
  font-size: 16px;
  line-height: 16px;
  background-color:#ff4700;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border-color: #1c1c1c;
}
.white-bt{
  background-color: white;
  color:#ff4700;
}
.inline .color-list .fas fa-globe-europe {
  color: black;
}
.fas fa-chevron-down {
  padding-top: 2px;
}
.fas fa-search{
  padding-top: 2px;
  color: #86b8ec;
}
/*main*/
nav::after{
  content: "";
  display: table;
  clear: both;
  }
nav{
  background: white;
}
.sx-nav1{
  width: 600px;
  height:60px;
  float: left;
  margin-left:95px;
  padding: 10px;
}
.dx-nav2{
  width: 600px;
  height:60px;
  float: right;
  padding: 10px;
}
.pricing{
  color: #1c1c1c;
}
/*prima parte main*/
.main-1{
  width: 100vw;
  height: 600px;
  background:url(../img-hubspot/jumbotron.png);
  background-size:cover;
  background-position: center;
}
.adv{
  color:#1c1c1c;
  width: 400px;
  height: 300px;
  float:left;
  margin-left: 80px;
  padding: 30px;
}
.adv h1,
.adv p {
  margin-bottom: 15px;
  color: black;
}
.barra-vuota{
  width: 100vw;
  height: 40px;
  background:#0abab5;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
/*seconda parte main*/
.main-2{
  width: 100vw;
  height: 1300px;
}
.main-2::after{
  content: "";
  display: table;
  clear: both;
}
.cont2{
  width: 650px;
  height: 300px;
  text-align: center;
  color:#1c1c1c;
}
.squares{
  width: 200px;
  height: 132px;
  margin-top: 20px;
}
.bot-learn{
  padding: 10px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.text-main-2{
  width: 430px;
  height: 200px;
  float: left;
  margin-left: 20%;
  text-align:center;
}
.text-main-2,
.text2-main-2{
  background: white;
  margin-bottom: 30px;
  padding: 10px;
}
.cassa{
  width: 180px;
  height: auto;
}
#orange{
  color: #ff4700;
}
.text2-main-2{
  width: 430px;
  height: 200px;
  float: left;
}
.text2-main-2,h3,p,h4,ul,li,a{
  color:#1c1c1c;
}
.fas fa-check-circle{
  color:red;
}
li{
  display:inline-block;
  list-style: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.marketing{
  width: 180px;
  height: 132px;
  text-align: center;
}
.sales-hub,
.service-hub{
  width: 180px;
  height: 132px;
}
.cont4{
  width:1000px;
  height:320px;
}
.cont4::after{
  content: "";
  display: table;
  clear: both;
}
.col1-main2,.col2-main2,.col3-main2{
  width: 27%;
  height: 550px;
  float: left;
  background: white;
  border-radius: 5px;
  padding: 10px;
}
.col1-main2{
  margin-right: 40px;
}
.col2-main2{
  margin-right: 40px;
  margin-left: 40px;
}
.col3-main2{
  margin-left: 40px;
}
.bot-learn{
  display: inline-block;
  text-decoration:none;
  font-size: 16px;
  background-color:#ff4700;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border-color: #1c1c1c;
  margin-top: 20px;
  margin-left: 70px;
}
/*terza parte main*/
.main-3{
  width: 100vw;
  height: 700px;
  padding: 10px;
  background: linear-gradient(45deg, #19e1e6, #14b4b8);
}
.maintext-3{
  width: 630px;
  height: 200px;
  color: white;
  text-align: center;
}
.maintext-main3,p{
  margin-top: 10px;
  line-height: 1.5;
  color: white;
}
.colonne-main3{
  width:840px;
  height:420px;
  color:white;
  position: relative;
}
.slash{
  margin-top: 10px;
  margin-bottom: 10px;
}
.col1-main-3{
  text-align: center;
  position: absolute;
  left: 0;
}
.col2-main-3{
  text-align: center;
  position: absolute;
  left: 25%;
}
.col3-main-3{
  text-align: center;
  position: absolute;
  right:25%;
  margin-right: 40px;
}
.col4-main-3{
  text-align: center;
  position: absolute;
  right: 0;
  margin-right: 40px;
}
.numero{
  display:block;
  font-size: 25px;
  font-weight: bold;
}
.col1-main-3,
.col2-main-3,
.col3-main-3,
.col4-main-3{
  border-right:3px solid white;
  padding: 10px;
}
.border-bottom{
  margin-bottom: 8px;
  border-bottom: 2px solid white;
}
/*quarta parte main*/
.main-4{
  padding:10px;
  width: 1250px;
  height: 790px;
  position: relative;
}
.sx{
  width: 30%;
  height: 400px;
  float: left;
}
.dx{
  width: 800px;
  height: 400px;
  position: relative;
  float: right;
}
.blue{
  padding: 20px;
}
.blue li{
  display: inline-block;
}
.red{
  width: 240px;
  height: 120px;
  margin: 10px;
  text-align: center;
}
.red,p{
  color:#1c1c1c;
}
.getfreehb{
  margin:30px;
}
.green{
  position: relative;
  top:100px;
}
.size{
  width: 100%;
}
.blue ul li{
  width: 23%;
  margin: 10px 1%;
}
.woman{
  width:230px;
  height: 280px;
  margin-bottom: 10px;
  position:absolute;
  right:230px;
  bottom:30%;
}
/*footer*/
.contenitore-footer{
  padding:10px;
  width: 1100px;
  height: 600px;
  background:#4045a3;
}
footer{
  background-color:#4045a3;
}
footer,ul,li{
  color: white;
}
.col1-footer{
  width:22%;
  height: 400px;
  display: inline-block;
  margin-left: 20px;
}
.col2-footer{
  width:22%;
  height: 400px;
  display: inline-block;
}
.col3-footer{
  width:22%;
  height: 400px;
  display: inline-block;
}
.col4-footer{
  width:22%;
  height: 400px;
  display: inline-block;
}
.col1-footer,
.col2-footer,
.col3-footer{
  margin-right: 20px;
}
.languages-footer {
  padding-top: 30px;
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
  left:25%;
}
.hr-footer{
  color: white;
  width:900px;
}
.dx-bottom{
  display: inline-block;
  position: relative;
  left: 75%;
  bottom:32px;
}
.sx-bottom p img{
  color:white;
}
.last-bt{
  margin-top: 10px;
}
.copyright-logo{
  left: 880px;
}
.last-bt{
  width:200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.col4-footer i{
  color: white;
  font-size: 13px;
  text-align: center;
}
.policy-privacy{
  right: 10px;
}
.white{
  color: white;
}
